/.idea/



## redis
/redis/cluster/*/data/*.aof
/redis/cluster/*/data/*.rdb
/redis/cluster/*/logs/.log
/redis/single/data/*.aof
/redis/single/data/*.rdb
/redis/single/logs/*.log

## mysql
/mysql/single/data/*
/mysql/cluster/*/data/*

/es-kibana/v7/single/es/
/es-kibana/v7/cluster/es01/*
/es-kibana/v7/cluster/es02/*
/es-kibana/v7/cluster/es03/*

/es-kibana/v8/single/es
/es-kibana/v8/single/kibana/
/pgsql/single/data/
/pgsql/cluster/pg_master_data/
/pgsql/cluster/pg_salve_data/
/redis/cluster/*/logs/
/kafka/v3/single/data/
/kafka/v3/cluster/*/data/
/linux/soft/*
/linux/*
