/.idea/



## redis
/redis/cluster/*/data/*.aof
/redis/cluster/*/data/*.rdb
/redis/cluster/*/logs/.log
/redis/single/data/*.aof
/redis/single/data/*.rdb
/redis/single/logs/*.log

## mysql
/mysql/single/data/*
/mysql/cluster/*/data/*

/es-kibana/7.0/single/es/
/es-kibana/7.0/cluster/es01/*
/es-kibana/7.0/cluster/es02/*
/es-kibana/7.0/cluster/es03/*

/es-kibana/8.0/single/es
/es-kibana/8.0/single/kibana/
